Source: nunit
Section: devel
Priority: optional
Maintainer: Debian CLI Libraries Team <pkg-cli-libs-team@lists.alioth.debian.org>
Uploaders: Jelmer Vernooij <jelmer@samba.org>
Homepage: http://www.nunit.org/
Build-Depends: debhelper (>= 4.0.0), dpatch, cli-common-dev (>= 0.4.4)
Build-Depends-Indep: mono-mcs (>= 1.0) | c-sharp-compiler, c-sharp-2.0-compiler, nant (>= 0.84), mono-gac (>= 1.1.6), libmono-winforms1.0-cil, libmono-winforms2.0-cil
Vcs-Svn: svn://svn.debian.org/svn/pkg-cli-libs/packages/nunit/trunk
Standards-Version: 3.7.3
DM-Upload-Allowed: yes

Package: nunit-console
Architecture: all
Depends: ${cli:Depends}
Conflicts: libnunit-cil
Description: Unit test framework for .NET
 NUnit is a unit testing framework for all .NET languages. It serves the
 same purpose as JUnit does in the Java world. It supports test
 categories, testing for exceptions and writing test results in plain
 text or XML.
 .
 This package contains the console front-end.

Package: nunit-gui
Architecture: all
Depends: ${cli:Depends}
Conflicts: libnunit-cil
Description: Unit test framework for .NET
 NUnit is a unit testing framework for all .NET languages. It serves the
 same purpose as JUnit does in the Java world. It supports test
 categories, testing for exceptions and writing test results in plain
 text or XML.
 .
 This package contains the graphical front-end.

Package: libnunit2.4-cil
Architecture: all
Depends: ${cli:Depends}
Conflicts: libnunit-cil
Suggests: libnunit-doc
Description: Unit test framework for .NET
 NUnit is a unit testing framework for all .NET languages. It serves the
 same purpose as JUnit does in the Java world. It supports test
 categories, testing for exceptions and writing test results in plain
 text or XML.

Package: libnunit-doc
Section: doc
Architecture: all
Depends: ${cli:Depends}
Description: Unit test framework for .NET
 NUnit is a unit testing framework for all .NET languages. It serves the
 same purpose as JUnit does in the Java world. It supports test
 categories, testing for exceptions and writing test results in plain
 text or XML.
 .
 This package contains the API documentation and examples.

Package: nunit
Architecture: all
Depends: libnunit-doc, nunit-console, nunit-gui, libnunit2.4-cil
Description: Unit test framework for .NET
 NUnit is a unit testing framework for all .NET languages. It serves the
 same purpose as JUnit does in the Java world. It supports test
 categories, testing for exceptions and writing test results in plain
 text or XML.
 .
 This is a dummy package that depends on the other nunit packages.
