Source: nunit
Section: devel
Priority: optional
Maintainer: Jelmer Vernooij <jelmer@samba.org>
Build-Depends: debhelper (>= 4.0.0), dpatch
Build-Depends-Indep: mono-mcs (>= 1.0) | c-sharp-compiler, c-sharp-2.0-compiler, cli-common-dev (>= 0.4.0), libmono-dev (>= 1.0), nant (>= 0.84), mono-gac (>= 1.1.6)
Standards-Version: 3.6.2.1

Package: nunit-console
Architecture: all
Depends: ${cli:Depends}
Conflicts: libnunit-cil
Description: Unit test framework for .NET
 NUnit is a unit testing framework for all .NET languages. It serves the
 same purpose as JUnit does in the Java world. It supports test
 categories, testing for exceptions and writing test results in plain
 text or XML.
 .
 This package contains the console front-end.

Package: libnunit2.2.6-cil
Architecture: all
Depends: ${cli:Depends}
Conflicts: libnunit-cil
Suggests: libnunit-doc
Description: Unit test framework for .NET
 NUnit is a unit testing framework for all .NET languages. It serves the
 same purpose as JUnit does in the Java world. It supports test
 categories, testing for exceptions and writing test results in plain
 text or XML.

Package: libnunit-doc
Architecture: all
Depends: ${cli:Depends}
Description: Unit test framework for .NET
 NUnit is a unit testing framework for all .NET languages. It serves the
 same purpose as JUnit does in the Java world. It supports test
 categories, testing for exceptions and writing test results in plain
 text or XML.
 .
 This package contains the API documentation and examples.

Package: nunit
Architecture: all
Depends: libnunit-doc, nunit-console, libnunit2.2.6-cil
Description: Unit test framework for .NET
 NUnit is a unit testing framework for all .NET languages. It serves the
 same purpose as JUnit does in the Java world. It supports test
 categories, testing for exceptions and writing test results in plain
 text or XML.
 .
 This is a dummy package that depends on the other nunit packages.
