#!/usr/bin/make -f
export DH_VERBOSE=1
# nant has race conditions on SMP systems and causes hangs or failures
export MONO_NO_SMP=1
BUILD_DIR = build/linux/mono/2.0/release
NANT = nant
DEB_CLI_ABI_VERSION = 2.4
DEB_CLI_API_VERSION = 2.4.7

include /usr/share/cli-common/cli.make
include /usr/share/dpatch/dpatch.make

build: patch-stamp build-stamp
build-stamp:
	dh build --before build
	$(NANT) -f:src/nunit.build mono-2.0 release build
	for lib in nunit.core nunit.framework; do \
	  rm -rf $(BUILD_DIR)/monodocer; \
	  mdoc update \
	    -i $(BUILD_DIR)/$$lib.xml \
	    -o $(BUILD_DIR)/monodocer \
	    $(BUILD_DIR)/$$lib.dll; \
	  mdoc assemble \
	    -o $(BUILD_DIR)/$$lib \
	    $(BUILD_DIR)/monodocer; \
	done
	touch build-stamp

install: build
	dh $@ --before dh_install
	rm -f doc/files/Thumbs.db
	install -D -m 755 debian/nunit-console.sh debian/nunit-console/usr/bin/nunit-console
	install -D -m 755 debian/nunit-gui.sh debian/nunit-gui/usr/bin/nunit-gui
	dh $@ --remaining

binary: binary-indep
binary-indep: install
	dh $@ --before dh_makeclilibs
	dh_makeclilibs -i -m $(DEB_CLI_API_VERSION)
	dh $@ --after dh_makeclilibs

clean: unpatch
	rm -rf build
	rm -f build-stamp
	$(NANT) /f:src/nunit.build mono-2.0 clean-all
	dh $@

%:
	dh $@

upstream_version=$(shell uscan --dehs | sed -n 's/.*<upstream-version>\(.*\)<\/upstream-version>.*/\1/p')
get-orig-source::
	mkdir nunit-$(upstream_version)
	cd nunit-$(upstream_version) && unzip ../../NUnit-$(upstream_version)-src.zip
	rm -rf nunit-$(upstream_version)/build
	cd nunit-$(upstream_version) && $(NANT) /f:src/nunit.build mono-1.0 clean-all
	cd nunit-$(upstream_version) && $(NANT) /f:src/nunit.build mono-2.0 clean-all
	tar cfz ../nunit_$(upstream_version).orig.tar.gz nunit-$(upstream_version)
	rm -rf nunit-$(upstream_version)
